/*Setting the overall theme*/
html, body,section{
  height: 100%;
  font-family: sans-serif;
  color: white;
  overflow: hidden;
}

/*Hide stuff*/
.noDisplay {
	display: none;
}


/*Main menu specific styling*/
#menu {
	text-align: center;
	background-color: black;
	color: white;
}

#menu h1 {
	padding-top: 7rem;
	padding-bottom: 3rem;
	font-size: xx-large;
}

#menu li {
	padding-bottom: 1.5rem;
	font-size: medium;
	font-style: italic;
}

#menu h2 {
	font-size:small;
}

/*Pause button styling*/
#pauseButton {
	text-align: center;
	background: blue;
}

/*pause menu */
#pause {
	position: absolute;
	text-align: center;
    left: 5%;
    top: 40%;
    width: 90%;
    background: gray;
    border-radius: 1em;

}
#pause h1 {
	font-size: xx-large;
}
#pause li {
	font-size: x-large;
}

/*Gameplay styling*/
#gameplay {
	background-color: black;
}

#pauseButton {
height:5%;
background-color:gray;
}

#game {
	height:95%;
	overflow: hidden;
}